*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Crete Round', serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 


:root{
    --primary-color:rgba(168,168,168,1);
    --secondary-color:rgb(73, 53, 255);
    --mobile-break-point:640px;
    --card-color:rgba(249,249,249,1);
}



.full {
    /* margin-left:2em; */
    /* margin-top:3em; */
    height:100vh;
display:flex;
}


.navbar{
    display: flex;
    
    
}
/* sidebar css start */
.sidebar i {
  padding: 0.8em;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--primary-color);
  display: block;
}



.sidebar{
    z-index: 5;
    position: fixed;
    background-color:white;
    left:0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    
}
.main-sidebar{
    justify-self:self-start;
}

.bottom-sidebar{
 


 
}


.search{
    /* padding-bottom: 50px; */
}



.section-1,.section-2{
    padding:1em;
    position: relative;
    left:-9em;

    /* padding: 30px 100px 5px 5px; */
}
.section-1 {
    padding:2em 3em 10em 7em;    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--card-color);
    flex:1 1 auto;
    position: relative;
    height: fit-content;

}

.section-2{
    flex-grow: 2;
    flex: 2 1 auto;
}

#myChart{
    margin-bottom: 2em;

}

/* sidebar css end */


 /* section-1 css start */
.img-1{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.title{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.title h1{
    font-weight: 500;
    margin-bottom: 0;
}
 .intro {
    width:100%;
    justify-self:flex-end;
    margin-left:1em;
}

.sub{

    margin: 10% 0;
}
.dollar{
    /* font-size: 1em; */
}
.sub h4 {
    margin-bottom: 1em;
}
h2.dollar{
    font-size: 1.5em;
    font-weight: 700;
}
p.dollar {
    padding: 4em 0 0 0;

}
.t1 {
    font-size:1.8em
}
.t1-25 {
    font-size: 1.6em;
}
.t1-5{
    font-size: 1.4em;
}

.t2 {
    font-size: 1em;
}

.t3 {
    font-size: 0.9em;
}
.t4 {
    font-size: 0.75em;
}
.t5 {
    font-size: 0.65em;
}
.t6 {
    font-size: 0.6em;
}
.card {
    background-color: rgba(0,0,0,0);
    border:0;
}
.button-1  .btn::after{
    content:"▼";
    font-size: 0.8em;
}
.learn-more{
    border-left:1px solid var(--secondary-color);
    width: 15em;
    padding-left: 2em;
} 
.homes{
    background-color: var(--secondary-color);
    color:white;
    border-radius: 5px;
    padding:0.5em;
    margin-left:5px;
    margin-right:5px;
}
.btn-s {
    padding-top:0.5em; 
    padding-bottom:0.5em;
    border-radius:0.6em;
    width:60%;
    font-size: 0.75em;
    letter-spacing: 0.5px;
    background-color:var(--secondary-color);
}
.learn-more .lm ,.view-doc{
    color:var(--secondary-color);
    padding:1em 0; 
}
.rs-card {
    background-color: rgba(249,249,249,1);
    margin:2em 0;
    border-radius: 12px;
    padding:1em;
}
.view-doc {
    text-align: center  ;
}
.b6 {
    font-weight: 600;
}
.bb {
    border-bottom: 1px solid black;
}
.sub-2{
    padding-bottom: 15px;
}

.year{
    position: relative;
    top: 1px;
}


/* section-2 css start */

.dollar-2{
    padding: 40px 0;
}

.emp1{
    display: flex;
}

.circle{
 width: 15px;
 margin:0 0.1em;
 height: 10px;
 border-radius: 10px;
 background-color: var(--secondary-color);

}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 4;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: aqua;
    stroke-width: 8;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dashoffset: 50%;
    transition: stroke-dashoffset 1s linear;

}
#svg circle {
    
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1.5em;
  }
#svg #bar {
stroke: #FF9F1E;
stroke-dashoffset: 50;
stroke-width: 1.5em;
}
/* #circle c1{
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
  } */


svg circle:nth-child(2){
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke: blue;
}

/* sectiom-3 css start */
.mobile-search {
    display: none;
}
#t-bell{
    display: none;
}
/* media query */
@media only screen and (max-width: 640px) {
   .full{
       flex-direction: column;
   }
   #t-bell{
       z-index: 8;
       position: fixed;
       right:1.4em;
       top:1.4em;
       display: inline;
       color: var(--primary-color);
       font-size: 1.2em;
   }
   .logo,.bottom-sidebar {
       display: none;
   }
    
   .sidebar {
       height: fit-content;
       width: 100%;
       bottom:0;
       z-index: 5;
   

   }
   .section-1{
       padding: 2em;
       background-color: white;
   }
   .card{
    background-color: var(--card-color);
    border-radius: 12px;
    border:0;
    height: fit-content;
    margin:1em 0;
    padding:1em 0;
   }
   .today {
       padding-left:2.5em;
   }
   .center {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .sub1 {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
   }
   .button-1 {

       display: flex;
       justify-content: center;
       align-items: center;
    }
    .button-1  .btn::after{
        content:"..";
    }
   .t-full {
       width:100%;
   }
   .year2dt p{
       content:"Year to Date"
   }
   .mobile-search {
    display: block;
}
   
   .main-sidebar {
       /* display: none; */
       flex-direction: row;
       display: flex;
       flex-grow: 100%;
       width: 100%;
       order:1;
       justify-content: space-between;
   }
  .section-1,.section-2{
      left:0;
      margin-left: 0;
  }

  #my1{
      width: 100%;
  }
  
  .dollar-2{
    display: inline-flex;
    flex-flow: row wrap;
  }
  .dollar-2 div {
      width:fit-content;
      flex:1;
  }
  .dollar-2 .goal {
    width:100%;
    flex:auto;
}
.emp1{
    flex-direction: column;
    width: fit-content;
    flex: 1;
}
.learn-more,.view-doc,.up {
    display: none;
}
.up1 {
    position: sticky;
    /* bottom:0; */
    width:100%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.8em;
    z-index: 6;
    top:0;
}

}